on: [ push ]

name: build and test

jobs:
  build_and_test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Install required packages
        run: sudo apt-get update && sudo apt-get install -y
          git
          bash
          cmake
          make
          g++
          python3-dev
          libatomic-ops-dev
          openmp
          autoconf
          libgsl-dev
          zlib1g-dev
          libzstd-dev
          libjemalloc-dev
      - name: Init and update submodules
        run: git submodule update --init --recursive
      - name: Build smoothxg
        run: cmake -H. -DCMAKE_BUILD_TYPE=Debug -Bbuild && cmake --build build -- -j 2
      - name: Run tests
        run: ctest --test-dir build -E odgi-test --verbose
